# Python
__pycache__/
*.py[cod]
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.python-version

# Virtual environment
venv/
.env/
.venv/
vnev/
.vnev/
# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
docker-compose.override.yml

# Logs
*.log
logs/

# Uploads
uploads/
!uploads/.gitkeep  # Если нужно сохранить пустую папку

# Environment files
.env
.env.local
.env.*.local

# Тестовые данные
test_data/
tmp/

backend/.env
frontend/.env
.env

# VS Code
.vscode/
node_modules/